@font-face {
		font-family: 'MinecraftTenV2';
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url('https://cdn.discordapp.com/attachments/1121502823943774308/1165893186040905798/Minecraft-Ten-b8f2d.otf?ex=654881a4&is=65360ca4&hm=3fa3de4b08d2d9e5a95677a5cd4f8ceda6b8905b7392b8e02d58d6ad721e01cf&') format('opentype');
}