<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Minicraft — v1.46.37.4 Preview">
	<meta name="theme-color" content="#c5bab6">
	<meta property="og:locale" content="pt_BR">
	<meta name="author" property="og:author" content="Minicraft — v1.46.37.4 Preview">
	<meta property="og:title" content="Hello miner! Minicraft | By Klenck Studios">
	<meta property="og:description" content="Do you know Minicraft? And no, it's not a spelling error, this is the name of a game that Notch programmed.
		
		But I recreated it, here at Replit!">
	<meta property="og:image" content="/game/textures/ui/minecraft_title.svg">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:image" content="/game/textures/ui/minecraft_title.png">

	<title>Minicraft</title>
	<link rel="icon" href="/static/game/textures/ui/ico.png" type="image/png">
	<link href="/static/game/ui/styles/loader.css" rel="stylesheet" type="text/css">
</head>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&family=Kumbh+Sans:wght@900&family=Quicksand:wght@500&display=swap');

	body {
		background: #000;
		width: 0;
		height: 0;
		overflow: hidden;
	}

    #title-panorama::-webkit-scrollbar-thumb {
        height: 56px;
        border-radius: 8px;
        border: 7px solid transparent;
        background-clip: content-box;
        background-color: rgba(255, 255, 255, 0.3);
    }

    #title-panorama::-webkit-scrollbar {
        width: 16px;
        height: 0;
    }

	body {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
</style>

<body>
	<canvas id="canvas"></canvas>

	<img src="/static/game/ui/styles/textures/open.jpeg" id="loader-img" style="display: none;" />
    <div id="minicraft-plus" style="display: block;">
        <div id="offlineStamp"><h1 id="offlineStamp-text">Você está offline!</h1><img id="trying-toReconnect" src="/static/game/ui/styles/textures/loaders/loader.svg"></div>
        <div>
            <canvas id="jogo"></canvas>
            <div id="controls">
                <button id="leftButton">←</button>
                <button id="rightButton">→</button>
                <button id="jumpButton">pulo</button>
            </div>
            <!-- <div id="pause-overlay">
            <div id="pause-message">
                <h1>Paused</h1>
                <button id="exit-button">Sair</button>
            </div>
        </div> -->
        </div>

        <div>
            <!-- Amigos -->
            <div id="AmigosPanel">
                <h2>Amigos</h2>
                <ul id="friendsList"></ul>
                <h2>Amigos Online</h2>
                <ul id="onlineFriendsList"></ul>
            </div>
            <!-- Play -->
            <div id="title-panorama">
                <div id="anchor"></div>
                <img id="loader-in-panorama" src="/static/game\ui/styles/textures/loaders/loaderSlim.svg" />
                <div id="blur"></div>

                <div id="title-menu">
                    <img id="minicraft-game-icon-in-panorama" src="/static/game/textures/ui/minecraft_title.svg" />
                    <div>
                        <button id="play-button">Play</button>
                    </div>
                </div>
                <div id="underneath-menu">
                </div>
            </div>
        </div>

        <div id="topPanel">

            <div name="user">
                <div id="blurUser-Panel" style="display: none; backdrop-filter: blur(0px); background: rgba(0, 0, 0, 0);"></div>
                <div id="user_Panel" style="display: none; opacity: 0; right: -377px;">
                    <div id="user_Panel-error" style="display: none;">
                        <img id="user_Panel-errorImage" src="/static/untitled.svg">
                        <span id="user_Panel-errorText">Did not work... :(</span>
                    </div>

                    <!-- <div id="user_Panel-loading">
                    <img src="loader.svg">
                </div> -->

                    <div id="user_Panel-userBanner">
                        <div id="user_Panel-userImageAndVisibility">
                            <img id="user_Panel-userImage" src="/static/game/textures/ui/ico.png">
                            <div id="user_Panel-userVisibility"></div>
                        </div>
                    </div>
                    <div id="user_Panel-userBadges">
                    </div>
                    <div id="user_Panel-userInfos">
                        <div>
                            <h2 id="user_Panel-userName">You!</h2>
                            <p id="user_Panel-userTag">@you</p>
                        </div>
                        <div id="user_Panel-Line"></div>
                        <div>
                            <h2 id="user_Panel-aboutMe">About me</h2>
                            <p id="user_Panel-userBio">Hi!</p>
                        </div>
                        <div id="user_Panel-Line"></div>
                        <div>
                            <button id="user_Panel-button_ChangeAccount">Change profile</button>
                            <button id="user_Panel-button_Config">Settings</button>
                        </div>
                    </div>
                </div>
            </div>

            <a id="user-buttonUrl">
                <button id="user-button" style="top: 7px;">
                    <img id="user-buttonImage" src="/static/game/textures/ui/ico.png">
                    <span id="user-buttonText">You</span>
                </button>
            </a>

            <div id="topPanel-buttons">
                <button id="topPanel_a1">Friends</button>
                <button id="topPanel_a2">Play</button>
                <button id="topPanel_a3">Shop</button>
                <button id="topPanel_a4">Carreira</button>
                <button id="topPanel_a5">Tarefas</button>
                <button id="topPanel_a6">Blog</button>
            </div>

        </div>

        <div id="settingsMenu"></div>

        <span id="fps-counter"></span>

        <div id="loader">
            <div id="open"></div>
            <div>
                <img id="minicraft-game-icon" src="/static/game/textures/ui/minecraft_title.svg" />
            </div>
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <div id="loaderUser-info">
                <img id="loader-imageUser" src="" />
                <div id="loader-textUser"></div>
            </div>
            <div id="loader-grouping">
                <div id="loaderText-grouping">
                    <img id="loader-in" src="/static/game/ui/styles/textures/loaders/loader.svg" />
                    <div id="loader-text">Connecting</div>
                    <div id="loader_textFinished">0 of 12</div>
                </div>
            </div>
            <div>
                <span id="loader-textGame_version">v1.46.37.4 Preview</span>
                <span id="loader-textReplit">Create by Klenck Studios</span>
            </div>
        </div>

        <div id="Login_Background">
            <div id="Login">
                <div id="LoginLoad">
                    <img src="/static/game/ui/styles/textures/loaders/loader.svg" id="Login_loader" />
                    <div id="Login_text">Aguarde...</div>
                </div>
            </div>
        </div>

        <div name="audios">
            <audio id="music">
                <source src="/static/game/textures/music/Beatoven.mp3" type="audio/mp3" />
                <source src="/static/game/textures/music/Beatoven_2.mp3" type="audio/mp3" />
            </audio>
            <audio id="gui" src="/static/game/textures/music/release-4756c.ogg" type="audio/ogg"></audio>
        </div>
    </div>
	<div id="Error" style="width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,30%); backdrop-filter: blur(50px); top: 0; left: 0; z-index: 9999;">
		<div>
			<div id="ErrorMessage">
				<h1>There was an error!</h1>
				<p>But just restart the page!</p>
				<button id="ErrorMessage_button">Reload</button>
				<div>
                    <span id="loader-textGame_version">v1.46.37.4 Preview</span>
					<span id="loader-textReplit">Create by Klenck Studios</span>
				</div>
			</div>
		</div>
	</div>

	<script>
		ErrorMessage_button.addEventListener('click', function() {
			window.location.reload();
		});
		
		var minicraftPlus = document.getElementById("minicraft-plus");

		var script = document.createElement('script');
        script.src = '/static/verification.js';
		document.head.appendChild(script);
	</script>

</body>
</html>