#offlineStamp {
  z-index: 1;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 200px;
  height: 40px;
  border: solid 2.5px #fff;
  border-radius: 10px;
  display: flex;
  font-size: 7px;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #ffffff;
  pointer-events: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transform: translateY(100px);
  transition: transform 0.3s ease-in-out;
}

#trying-toReconnect {
  position: relative;
  height: 14px;
  transform: rotate(0deg);
  animation: loading 0.5s infinite;
  animation-timing-function: linear;
}